{% load static %}
{% include "includes/header.html" %}
{% if 'logged_in' in request.session %}
**** redirect here
{% endif %}
<section id="content">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 align-center">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li
                    {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form acton="" class="form-horizontal" method="POST" novalidate>
                    {% csrf_token %}
                    <h2>Forgot Password</h2>
                    <hr class="colorgraph">

                    <div class="form-group">
                        <div class="col-sm-12 align-center">
                            {{ form.non_field_errors }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label> Enter your email address to sent the details </label> <br />
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-md-6"><input type="submit" value="Submit"
                                                               class="btn btn-primary btn-block btn-lg" tabindex="3">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

{% include "includes/footer.html" %}