{% load static %}
{% include "includes/header.html" %}
  <?php include('header.php'); ?>
	<link href="{% static 'plugins/flexslider/flexslider.css' %}" rel="stylesheet" media="screen" />
		<section id="featured" class="bg">
			<!-- start slider -->


			<!-- start slider -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<!-- Slider -->
						<div id="main-slider" class="main-slider flexslider">
							<ul class="slides">
								<li>
									<img src="{% static 'img/slides/flexslider/1.jpg' %}" alt="" />
									<div class="flex-caption">
										<h3>SPOT MY OFFER</h3>
										<a href="#" class="btn btn-theme">Learn More</a>
									</div>
								</li>
							</ul>
						</div>
						<!-- end slider -->
					</div>
				</div>
			</div>


		</section>
		<section class="callaction">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="cta-text">
							<h2>Signup to <span>unlock the new shopping experience</span></h2>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="cta-btn">
							<a href="" class="btn btn-theme btn-lg">Signup Now <i class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="content">

			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-sm-8 col-lg-8">
								<h4>About our company</h4>
								<p>
									SPOT MY OFFER is a web application which helps customers to save
money through awesome deals on every restaurants, textiles, electronic items,
jewellery etc. near you. We know how hard you work to earn your money and we
want to help you save that. You do, so you can do more and live more.<br>
This system concentrated on an area that, the no-fuss and friendly
search option to let the customer access the best deals for restaurants in a specific
place. The customer can browse through a vast number of deals near them buy the
coupon. Redeem it from the shop.<br>
No offline payment! No Queue!
								</p>
							</div>
							<div class="col-sm-4 col-lg-4">
								<img src="{% static 'img/about.jpg' %}" width="100%">
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- divider -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="blankline">
						</div>
					</div>
				</div>
			</div>
			<!-- end divider -->

			<!-- parallax  -->
			<div id="parallax1" class="parallax text-light text-center marginbot50" data-stellar-background-ratio="0.5">
				<div class="container">
					<div class="row appear stats">
						<div class="col-xs-6 col-sm-4 col-md-4">
							<div class="align-center color-white txt-shadow">
								<div class="icon">
									<i class="fa fa-shopping-cart fa-5x"></i>
								</div>
								<strong id="counter-coffee" class="number">177</strong><br />
								<span class="text">Offers</span>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4">
							<div class="align-center color-white txt-shadow">
								<div class="icon">
									<i class="fa fa-users fa-5x"></i>
								</div>
								<strong id="counter-music" class="number">124</strong><br />
								<span class="text">Users</span>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4 col-md-4">
							<div class="align-center color-white txt-shadow">
								<div class="icon">
									<i class="fa fa-building fa-5x"></i>
								</div>
								<strong id="counter-clock" class="number">55</strong><br />
								<span class="text">Shops</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-sm-12 col-md-12">
								<h4>Testimonials</h4>
								<div class="testimonialslide clearfix flexslider">
									<ul class="slides">
										<li>
											<blockquote>
												Awesome deals in my area. I am so happy :) Rating 5 Stars
											</blockquote>
											<h4>Daniel Dan <span>&#8213; Kannur</span></h4>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- divider -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="solidline">
						</div>
					</div>
				</div>
			</div>
			<!-- end divider -->

			<!-- clients -->
			<div class="container">
				<div class="row">
					<div class="col-xs-6 col-md-2 aligncenter client">
						<img alt="logo" src="{% static 'img/clients/logo1.png' %}" class="img-responsive" />
					</div>

					<div class="col-xs-6 col-md-2 aligncenter client">
						<img alt="logo" src="{% static 'img/clients/logo2.png' %}" class="img-responsive" />
					</div>

					<div class="col-xs-6 col-md-2 aligncenter client">
						<img alt="logo" src="{% static 'img/clients/logo3.png' %}" class="img-responsive" />
					</div>

					<div class="col-xs-6 col-md-2 aligncenter client">
						<img alt="logo" src="{% static 'img/clients/logo4.png' %}" class="img-responsive" />
					</div>

					<div class="col-xs-6 col-md-2 aligncenter client">
						<img alt="logo" src="{% static 'img/clients/logo5.png' %}" class="img-responsive" />
					</div>
					<div class="col-xs-6 col-md-2 aligncenter client">
						<img alt="logo" src="{% static 'img/clients/logo6.png' %}" class="img-responsive" />
					</div>

				</div>
			</div>

		</section>
	<script src="{% static 'plugins/flexslider/jquery.flexslider-min.js' %}"></script>
	<script src="{% static 'plugins/flexslider/flexslider.config.js' %}"></script>

{% include "includes/footer.html" %}
