{% load static %}
{% include "includes/header.html" %}
{% if 'logged_in' in request.session %}
**** redirect here
{% endif %}

<section id="content">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 align-center">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li
                            {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form action="" role="form" class="register-form" method="POST" novalidate>
                    {% csrf_token %}
                    <h2>Shop Registration</h2>
                    <hr class="colorgraph">
                    <div class="form-group">
                        <div class="col-sm-12 align-center">
                            {{ form.non_field_errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.type }}
                        {{ form.type.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.about }}
                        {{ form.about.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.phone }}
                        {{ form.phone.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                {{ form.password }}
                                {{ form.password.errors }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                {{ form.conpassword }}
                                {{ form.conpassword.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.address }}
                        {{ form.address.errors }}
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                {{ form.latitude }}
                                {{ form.latitude.errors }}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                {{ form.longitude }}
                                {{ form.longitude.errors }}
                            </div>
                        </div>
                    </div>
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-md-6"><input type="submit" value="Register"
                                                               class="btn btn-theme btn-block btn-lg" tabindex="12">
                        </div>
                        <div class="col-xs-12 col-md-6">
                                 If you are a user, <a href="/user-register">Register Here</a><br>
                            If you are a Shop Owner, <a href="/shop-register">Register Here</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
{% include "includes/footer.html" %}