{% load static %}
{% include "includes/header.html" %}
{% if 'logged_in' in request.session %}
**** redirect here
{% endif %}
<section id="content">
			<div class="container">

				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
						<form role="form" class="register-form" method="post">
							<h2>My Profile</h2>
							<hr class="colorgraph">

                            <div class="form-group">
                            	<label>Shop Name</label>
                                <input type="text" name="name" id="name" class="form-control input-lg" placeholder="Shop Name" tabindex="1" value="" required>
                            </div>
                            <div class="form-group">
                            	<label>Shop Type</label>
                            	<select class="form-control input-lg" name="type"  tabindex="2">
                                	<option >Restaurant</option>
                                    <option >Fashion</option>
                                    <option >Jewellery</option>
                                </select>
                            </div>
							<div class="form-group">
                            	<label>About Shop</label>
								<textarea name="about" rows="6" id="about" class="form-control input-lg" placeholder="About Shop" tabindex="3"  required></textarea>
							</div>
							<div class="form-group">
                            	<label>Phone Number</label>
								<input type="text" name="phone" id="phone" class="form-control input-lg" placeholder="Phone Number" tabindex="4" value="" required>
							</div>
							<div class="form-group">
                            	<label>Username</label>
								<input type="text" disabled id="username" class="form-control input-lg" placeholder="Username" tabindex="5" value="" required>
							</div>
                            <div class="form-group">
                            	<label>Address</label>
								<textarea rows="3" name="address" id="address" class="form-control input-lg" placeholder="Address" tabindex="8" required></textarea>
							</div>
                            <div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">
                                    	<label>Latitude</label>
										<input type="text" name="latitude" id="latitude" class="form-control input-lg" placeholder="Latitude" tabindex="9" value="" required>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<div class="form-group">
                                    	<label>Longitude</label>
										<input type="text" name="longitude" id="longitude" class="form-control input-lg" placeholder="Longitude" tabindex="10" value="" required>
									</div>
								</div>
							</div>
							<hr class="colorgraph">
							<div class="row">
								<div class="col-xs-12 col-md-6"><input type="submit" value="Update Profile" class="btn btn-theme btn-block btn-lg" tabindex="7"></div>
								<div class="col-xs-12 col-md-6">
                                <a href="shop-changepassword.php">You can update your password here</a><br>
                                </div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
{% include "includes/footer.html" %}