{% load static %}
{% include "includes/header.html" %}
{% if 'logged_in' in request.session %}
**** redirect here
{% endif %}

<section id="content">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 align-center">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li
                            {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form action="" role="form" class="register-form" method="POST" novalidate>
                    {% csrf_token %}
                    <h2>User Change Password</h2>
                    <hr class="colorgraph">
                    <div class="form-group">
                        <div class="col-sm-12 align-center">
                            {{ form.non_field_errors }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.oldpassword }}
                                {{ form.oldpassword.errors }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.password }}
                                {{ form.password.errors }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.conpassword }}
                                {{ form.conpassword.errors }}
                            </div>
                        </div>
                    </div>

                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-12 col-md-6"><input type="submit" value="Change Password"
                                                               class="btn btn-theme btn-block btn-lg" tabindex="12">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
{% include "includes/footer.html" %}