{% load static %}
{% include "includes/header.html" %}
<section class="blog-details-area section-padding-80">
    <div class="container">
        <!-- Post Details Text -->
        <div class="post-details-text">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-9">
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2>About Us</h2>
                        </div>
                    </div>
                    <p>5G NR is a new air interface being developed for 5G. An air interface is the radio frequency
                        portion of the circuit between the mobile device and the active base station. The active base
                        station can change as the user is on the move, with each changeover known as a handoff.5G will
                        initially be made available through improvements in LTE, LTE-Advanced and LTE Pro technologies.
                        But it will be soon be followed by a major step-up with the introduction of a new air
                        interface.</p>

                    <p>The 3GPP (3rd Generation Partnership Project) made decisions on some of the technologies to be
                        used in 5G NR as part of the 5G NR Release 14 Study Item which officially began in March 2016.
                        The first 3GPP 5G NR specification will be part of Release 15, on which work began in June 2016
                        and is set to complete in September 2018. With Release 14 frozen (completed) in June 2017, from
                        the second half of 2017 3GPP’s work has been focused on Release 15 to deliver the first set of
                        5G standards.</p>

                    <!-- Blockquote -->
                    <blockquote class="razo-blockquote d-flex">
                        <div class="icon">
                            <i class="icon_quotations" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            <p>“Speaking at a press conference after winning his award, Bottura explained why his Modena
                                restaurant deserved to reclaim its number one ranking.”</p>
                            <h6>Ollie Schneider</h6>
                        </div>
                    </blockquote>

                    <h4>What is 5G NR?</h4>

                    <p>In a nutshell, the 5G NR is being designed to significantly improve the performance, flexibility,
                        scalability and efficiency of current mobile networks, and to get the most out of the available
                        spectrum, be that licensed, shared or unlicensed, across a wide variety of spectrum bands.
                        Furthermore, the 5G NR air interface is just one component of the future 5G network so it must
                        also be designed to work as part of a wider flexible network architecture.</p>

                    <p>The 5G NR must be able to: deliver a huge number of varied services provided across a diverse set
                        of devices with different performance and latency requirements; support a wide range of
                        deployment models from traditional macro to hotspot deployments; and allow new ways for devices
                        to interconnect, such as device-to-device and multi-hop mesh. And it must do all this at
                        unprecedented levels of cost, power and deployment efficiencies.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "includes/footer.html" %}
