{% load static %}
{% include "includes/header.html" %}
{% if 'logged_in' in request.session %}
**** redirect here
{% endif %}
<section class="blog-details-area section-padding-0-80">
    <div class="container-fluid">
        <!-- Post Details Text -->
        <div class="post-details-text">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-9">

                    <div class="col-12">
                        <div class="section-heading text-left">
                            <h4 class="widget-title">Registered Users</h4>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="col-xs-12 align-center">
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li
                                        {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="col-xs-12">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Phonenumber</th>
                                    <th scope="col" >Address</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in user_details %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ i.name }}</td>
                                    <td>{{ i.email }}</td>
                                    <td>{{ i.username }}</td>
                                    <td>{{ i.phone }}</td>
                                    <td>{{ i.address }}</td>
                                    <td>
                                        {% if i.status == 'active' %}
                                        <span class="badge badge-pill badge-success">Active</span>
                                        {% else %}
                                        <span class="badge badge-pill badge-warning">Suspend</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if i.status == 'active' %}
                                        <a href="/admin-registered-users/status/{{ i.id }}/suspend"
                                           class="btn btn-warning btn-sm">Susupend User</a>
                                        {% else %}
                                        <a href="/admin-registered-users/status/{{ i.id }}/active"
                                           class="btn btn-success btn-sm">Activate User</a>
                                        {% endif %}
                                        <a href="admin-registered-users/delete/{{ i.id }}"
                                           class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "includes/footer.html" %}